/*
 *
 * Header
 *
 */

.header__logo, .header__title, .menu{
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
    width: 100%;    
}
  
.header__inner {
    margin-left: auto;
    margin-right: auto;
}
  
.header__logo {
    margin-left: 5px;
}
  
.header__title {
    font-weight: 300;
    font-size: 7vw; 
    color: #212121;
}

.menu{
    float: right;
    margin: auto;
    margin-right: 5px;
    margin-top: 1.5em;
}
