@media screen and (max-width: 380px) {
    .menu__img{
        height: 24px;
    }
}

@media screen and (min-width: 381px) and (max-width: 500px) {
    .menu{
        margin-top: 1em;
    }
    
}

@media screen and (max-width: 500px) {
    .header__logo{
      height: 36px;
    }
  
    .nav{
      display: none;
    }
  
     /* размеры выплывающего меню? */
    /*
    nav{
      width: 300px;
      height: 100%;
      position: absolute;
      transform: translate(-300px, 0);
    }
    
    nav.open{
      transform: translate(0, 0);
    }
  */  
}
  
@media screen and (min-width: 501px) and (max-width: 650px){
    .menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
        order: -1;
    }

    .nav{
        order: 0;
    }

    .hero{
        width: 60%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 2;
    }

    .scores{
        width: 100%;
        order: 4;
    }

    .top-news{
        width: 100%;
        order: 3;
    }

    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }
}

@media screen and (min-width: 651px) and (max-width: 900px){
    .menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
        order: -1;
    }

    .nav{
        order: 0;
    }

    .hero{
        width: 50%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 4;
    }

    .scores{
        width: 60%;
        order: 3;
    }

    .top-news{
        width: 50%;
        order: 2;
    }
    
    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }
}

@media screen and (min-width: 850px){
    .menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
       width: 100%;
        order: -1;
    }

    .nav{
        max-width: 850px;
        order: 0;
    }

    .hero{
        width: 50%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 4;
    }

    .scores{
        width: 60%;
        order: 3;
    }

    .top-news{
        width: 50%;
        order: 2;
    }
    
    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }
    /*
    .content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    */
    main{
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}
