/*.header__menu {
    display: none;
  }
*/
@media screen and (max-width: 380px) {
    .menu__img{
        height: 24px;
    }
}

@media screen and (min-width: 381px) and (max-width: 500px) {
    #menu{
        margin-top: 1em;
    }
    
}

@media screen and (max-width: 500px) {
    .header__logo{
      height: 36px;
    }
  
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
      }
      .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom; 
      }
      .nav {
        background:rgba(255,255,255,0.8);
        z-index: 10;
        /*background-color: #fff; */
        width: 200px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
      .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
      }
      .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em 0 0 0;
      } 
}
  
@media screen and (min-width: 501px) and (max-width: 650px){
    #menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
        order: -1;
    }

    .nav{
        order: 0;
    }

    .hero{
        width: 60%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 2;
    }

    .scores{
        width: 100%;
        order: 4;
    }

    .top-news{
        width: 100%;
        order: 3;
    }

    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }
}

@media screen and (min-width: 651px) and (max-width: 900px){
    #menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
        order: -1;
    }

    .nav{
        order: 0;
    }

    .hero{
        width: 50%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 4;
    }

    .scores{
        width: 60%;
        order: 3;
    }

    .top-news{
        width: 50%;
        order: 2;
    }
    
    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }
}

@media screen and (min-width: 850px){
    #menu{
      display: none;
    }  
  
    .header__logo{
      height: 72px;
    }

   .header{
       width: 100%;
        order: -1;
    }

    .nav{
        max-width: 850px;
        order: 0;
    }

    .hero{
        width: 50%;
        order: 1;
    }

    .weather{
        width: 40%;
        order: 4;
    }

    .scores{
        width: 60%;
        order: 3;
    }

    .top-news{
        width: 50%;
        order: 2;
    }
    
    .recent-news{
        width: 100%;
        order: 5;
    }

    .footer{
        width: 100%;
        order: 6;
    }

    main{
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}
