
/*
 *
 * Sport Scores
 *
 */

.scores {
    /*margin: 0 auto;
    width: 100%;*/
    float: left;
}
  
.scores__table {
    width: 100%;
    border-collapse: collapse;
}
  
.scores__table th,
.scores__table td {
    padding: 1em; 
}
  
.scores__table th {
    color: #fff;
    font-weight: 300;
    background-color: #78909C;
}
  
.scores__table tr:nth-child(odd) td {
    background-color: #fff;
}
  
.scores__table tr:nth-child(even) td {
    background-color: #eceff1;
}
  
.scores__table td.winner {
    font-weight: bold;
}
  
.scores__table td:nth-child(3) {
    text-align: right;
}
  
.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
    text-align: center;
}